extends layout.pug

block content
  //- TopBar
  section.m-section.topBar
    .m-center
      .topBar-cont
        span.mx-cont__user Usuario
        a(href="#").topBar-cont__logout Salir

  //- Main
  section.m-section
    .m-center
      .wrapper
        h1.createEvent__title Llena los datos con la información correspondiente
        .main
          .main-search
            input(type="text" name="search" placeholder="Buscar").mx__input
            p.main-search__count Invitados Confirmados 2 / 120

          .main-data
            table.main-data-table
              thead.main-data-table-thead
                th Confirmar
                th Nombre
                th Invitados
                th Mesa
                th
                  a(href="#popup").main-data-table-thead__add Agregar

              tbody.main-data-table-tbody
                each guest in data
                  tr
                    td.confirm
                      a.btn(href="/events/" + event + '/guests/' + guest._id + '/confirmar').m-crud__edit.icon-pencil
                    td.nombre
                      p.mx__nombre #{guest.name}
                    td.col
                      p.mx__invitados #{guest.inv}
                    td.col
                      p.mx__mesa #{guest.table}
                    td.colbtn
                      .colbtn-crud
                        a.btn(href="/events/" + event + '/guests/' + guest._id + '/editar').m-crud__edit.icon-pencil
                        form(method="post", action="/events/" + guest.event + "/guests/" + guest._id)
                          input(type="button", value="X", onclick="eliminar(this)").m-crud__delete.icon-x
                          input(type="hidden", name="_method", value="DELETE")

                          script.
                            function eliminar(input) {
                              var deleteOk = confirm('¿Estás seguro de eliminar este registro?');
                              return (deleteOk) ? input.parentNode.submit() : false;
                            }
          a(href="/events/" + event + '/guests/' + guest._id + '/evento/' + event).mx__createBtn Ver Evento.
  //- Modal
  section#popup.m-modal
    .m-modal-popup
      h2 Agregar Invitado
      a(href="#").m-modal-popup__close &times;
      form(method="post" action="/events/"+event+"/guests").m-modal-popup-content
        .m-modal-popup-content__label Nombre:
        input(type="text" name="name" placeholder="Escribe el nombre").mx-modal-popup-content__input
        .m-modal-popup-content__label Invitado:
        input(type="text" name="inv" placeholder="Número de invitados").mx-modal-popup-content__input
        .m-modal-popup-content__label Mesa:
        input(type="number" name="table" placeholder="Selecciona la Mesa").mx-modal-popup-content__input
        .m-modal-popup-content__label Correo:
        input(type="email" name="email" placeholder="Escribe el email").mx-modal-popup-content__input
        .m-modal-popup-content__label Teléfono:
        input(type="number" name="phone" placeholder="Escribe el telefono").mx-modal-popup-content__input
        button.mx__createEvent Agregar
