doctype html
html(lang="es" ng-app="gemStore")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		title Receptium
		link(rel="stylesheet", href="/main.css")
		link(href="https://file.myfontastic.com/S5SZgipAZYzxmK84A7WbVX/icons.css" rel="stylesheet")
	body
		block content

		script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js")
		script(src="js/controller.js")
		script(src="js/inputs.js")
