extends layout.pug

block content
	section.home
		.home-title
			h1.home-title__title Bienvenido al sistema de captura para administración de invitados, inicia sesión para continuar.
		.home-error
			if (message)
				.errorMsJ.error= message
		form.home-login(method="post", action="/login")
			input(tpye="name" name="username" placeholder="Usuario")#username.mx-login__input
			input(type="password" name="password" placeholder="Contraseña")#password.mx-login__input
			.home-login-btn
				button.mx-login__btn Iniciar
				a(href="#popup").mx-login__btn Registrarse
			.home-login-links
				a(href="#").home-login-links__text ¿Olvistaste tu contraseña?
				a(href="#").home-login-links__text.home-login__text--small Información del Servicio

	section#popup.m-modal
		.m-modal-popup
			h2 Registro Nuevo Usuario
			a(href="#").m-modal-popup__close &times;
			form(method="post", action="/signin").m-modal-popup-content
				.m-modal-popup-content__label Nombre:
				input(type="text", name="username" placeholder="Escribe tu usuario", required)#username.mx-modal-popup-content__input
				.m-modal-popup-content__label Contraseña:
				input(type="password" name="password" placeholder="Escribe tu contraseña")#password.mx-modal-popup-content__input
				input(type="submit" value="Registrarse").mx__createEvent
