
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;
	background-color: #0E131B;
}

*, *:after, *:before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

a { text-decoration: none; }

.container{
	margin-top: 7em;
	display: flex;
	justify-content: center;
}


.top__h1{
  color : #3EAD56;
	width : 60%;
	font-size: 2em;
	line-height: 1.3em;
}


/*article login */
.item{
	margin-top: 11em;
	display : flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}

.i-form{
	background-color: #262A2C;
	color : #B9B9B8;
	padding : 0.9rem 1rem;
	font-size: 1.3rem;
	border-radius: 30px;
	width : 300px;
	margin-top: 1rem;
	text-align: center;
	outline: none;
}

.btns{
	display : flex;
	justify-content: center;
	width : 300px;
	margin-top: 1rem;
}

.btn-cont{
	width : 100%;
}

.btn{
	background-color: #293539;
	width :95%;
	color : #818282;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: .8rem;
	border-radius: 20px;
	cursor : pointer;
	transition : all 0.3s ease;
	text-align: center;
}

.btn:hover{
	background-color: #36484C;
	color : #C4C4C4;
}

/* Index */
.index-cont{
	display : flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

/* Barra top */
.barra-top{
	background-color: #141822;
	height: 60px;
	display : flex;
	justify-content: center;
}

.centrar{
	display : flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	width : 1100px;
}

.user-log{
	background-color:#36484C;
	font-size: 1rem;
	color : #9B9B9A;
	padding: 0.7rem 1.7rem;
	border-radius: 30px;
}

.btn-close{
	background-color: #3EAD56;
	font-size: 1rem;
	color : #EFEFEF;
	padding: 0.7rem 1.7rem;
	border-radius: 30px;
	transition : all 0.3s ease;
}

.btn-close:hover{
	background-color: #EFEFEF;
	color : #3EAD56;
}

/* invt-wrap */
.invt-wrap{
	display : flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}

.centrar-dos{
	display : flex;
	width : 1100px;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.invt-top{
	display : flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	margin-top: 3em;
}

.i-width{
	width : 100%;
}


/* tabla invitados */
.invt-form{
	margin-top: 3rem;
}

.btn-width{
	width : 300px;
}

table {
	border-collapse: collapse;
	margin: 2rem auto;
	text-align: center;
	width:100%
}

.table th {
	background-color: #0E131B;
	padding: 1rem;
	color: #888888;
}

.table td {
	padding: .4rem;
	color: #888888;
}

.table tr:first-child {
	color: #878787;

}

.table tr:nth-child(even) { background-color: #141822; }

.table tr:nth-child(odd):not(:first-child) { background-color: #171C26; }

.btn-delete{
	color : red;
}
