*{
  color : #f2f2f2;
}

.contGeneral{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


  .barraCont{
    align-items: center;
    background-color: #151C25;
    display: flex;
    justify-content: space-around;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    color : #f2f2f2;
}
    .barraCont-buscador, .barraCont-texto{
      display: flex;
      width: 40%;
      font-size: 1.1rem;
}
    .barraCont-buscador{
      position: relative;
}
    .barraCont--input{
      border-radius: 20px;
      background-color: #0C121C;
      border: 1px solid #2F3B42;
      outline :none;
      width: 100%;
      color : #f2f2f2;
      padding : 1rem;
}
    .barraCont--btn{
      background-color: #2F3B42;
      border: none;
      border-radius: 40px;
      cursor: pointer;
      height: 45px;
      font-size: 0.8em;
      padding: 0 3em;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.3s ease;
    }
      &:hover{
        background-color: lighten(#2F3B42, 10);
}

.barraCont-texto{
  width : 200px;
  display : flex;
  justify-content: space-between;
}

.centralCont{
  margin: 7.9em auto 0;
  width: 95%;
}

.centralCont-wrapper{
  display: flex;
  justify-content: space-between;
}
.centralCont-column{
  margin-top: 1em;
  width: 47%;
  height: 850px;
  overflow-y: scroll;
}
.centralCont--titulo{
  color: #03C063;
  font-size :1.3em;
  text-align: center;
  margin-top: 1em;
}
.centralCont-invitado{
  margin-top: 2em;
  background-color: #151C25;
  border-radius: 20px;
}
.centralCont-invitado__text{
  padding: 2em 1em 0.1em 2em;
}
.centralCont-invitado__text:last-child{
  padding-bottom: 2em;
}
.done-true{
  text-decoration: line-through;
  color :#03C063;
}
.centralCont-contNombre{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width : 90%;
  height: 100px;
  cursor : pointer;
  &:hover{

  }
}
.centralCont-nombres{
  width :60%;
  display: flex;
}

.checkbox{
  padding: 1em;
  background-color: #03C063;
  width: 40px;
}

.centrarCont--invtNombre{
  font-size: 1.3em;
  line-height :1.5em;
  transition: all 0.3s ease;
  cursor :pointer;
  padding-left: 10px;
  font-weight: 300;
}
.centrarCont--invtNombre:hover{
  color: #03C063;
}
.central-cont-mesa{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.central-cont--mesa{
  font-size: 2.5em;
}
.centralCont--entrada{
  font-size: 1.2em;
}
.centralCont--counter{
  background-color: #03C063;
  border-radius: 50%;
  border :none;
  cursor :pointer;
  transition :all 0.3s ease;
  outline: none;
  width :40px;
  height: 40px;
  margin :1em 0;
  position :relative;
}
.centralCont--counter{
  background-color: #03C063);
}
.counter--numA, .counter--numB, .counter--diagonal{
  color :#151C25;
  font-size :1.3em;
  font-weight: bold;
}
.counter--numA{
  position: absolute;
  top :7px;
  left: 10px;
}
.counter--numA:after{
  content: "";
  width :40px;
  height: 2px;
  background-color: #151C25;
}
.counter--diagonal{
  position :absolute;
  top: 5px;
  left :15px;
  font-size: 3em;
  font-weight: normal;
}
.counter--numB{
  position: absolute;
  top :20px;
  left: 22px;
}
.centralCont-contDesc{
  margin 0 :auto;
  width: 90%;
}
.centralCont--entrada, .centralCont--mesa{
  padding: 0.7em 0 0 1em;
}
.centralCont--mesa{
  padding-bottom :1em;
  font-size: 1.6em;
}

.centralCont--list{
  margin: 0 auto;
  padding :1em 0;
  width: 90%;
}
.centralCont--element{
  padding :1em 0;
}
.centralCont-barras{
  display: flex;
  justify-content: center;
}
.centralCont-mapa{
  margin: 4em auto;
  width :100%;
  display :flex;
  flex-direction: column;
  align-items: center;
}
